/BasicUI/Debug/
/BasicUI/SA_Report/
/BasicUI/crash-info/
/BasicUI/.sign/
/BasicUI2/Debug/
/BasicUI2/SA_Report/
/BasicUI2/crash-info/
/BasicUI2/.sign/
task3/Debug/
task3/SA_Report/
task3/crash-info/
task3/.sign/
task1/
