/BasicUI/Debug/
/BasicUI/SA_Report/
/BasicUI/crash-info/
/BasicUI/.sign/.manifest.tmp
/BasicUI/.sign/author-signature.xml
/BasicUI/.sign/signature1.xml
/BasicUI2/Debug/
/BasicUI2/SA_Report/
/BasicUI2/crash-info/
/BasicUI2/.sign/.manifest.tmp
/BasicUI2/.sign/author-signature.xml
/BasicUI2/.sign/signature1.xml
/task1/
/task2/Debug/
/task2/SA_Report/
/task2/crash-info/
/task2/.sign/.manifest.tmp
/task2/.sign/author-signature.xml
/task2/.sign/signature1.xml
